* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#projects ul li{
	list-style: none;
	display: inline-block;
}

.container {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid;
}

